<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5XLFCM550L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-5XLFCM550L');
    </script>

    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  </head>
  <body>
    <header>
      <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}</p>
    </footer>
  </body>
</html>
